main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reader {
    width: 600px;
}
#result {
    text-align: center;
    font-size: 1.5rem;
}
#attendance {
    width: 80%;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* table {
    display: none;
} */